.banner-carousel img {
  object-fit: contain;
  height: 100%;
}
.banner-carousel,
.banner-carousel .splide__track,
.banner-carousel .splide__slide {
  height: 400px !important;
}


@media (max-width: 768px) {
  .banner-carousel img {
    width: 95vw;
  }
    .banner-carousel,
  .banner-carousel .splide__track,
  .banner-carousel .splide__slide {
    height: 250px !important;
  }
  .banner-carousel {
    margin-top: 10px;
  }
}
